.headerMain {
    /* background: green; */
    padding: 10px;

    border-bottom: 2px solid black;
    /* border: 2px solid black */

    /* margin-bottom: 0; */
}
.main {
    /* padding-top: 200px; */
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
    border-top: 0;
    
}


.buttonHeader {
    border: 0;
    background: white;
    font-size: 19px;
}

.mainName {
    font-size: 35px;
    padding-left: 13px;
}

.inputMain, .lupa {
    background: transparent;
    font-size: 13px;
    padding-left: 10px;
    height: 35px;
    width: 100%;
    background: rgb(224, 221, 221);
    border: 0;
    border-bottom: 2px solid rgb(224, 221, 221);
    /* border: 2px solid black; */
    border-radius: 7px;
    outline: none
}
.inputMain:focus {
    /* background: white; */
    border-bottom-color: rgb(40,190,70);
}
.inputMainLocation{
    display: flex;
    justify-content: center;
}


.fotoMain {
    padding-top: 20px;
}

.category, .announcementAround {
    font-weight: bold;
}

.itemBorder  {
    /* border: 0; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 1px solid gray
    
}

.productBorder{
    border: 1px solid gray;
    border-radius: 10px;
}

.product {
    padding: 5px;
}
/* .itemEffectAnimation {
    margin: 0;
    padding: 0;
    transition: box-shadow 0.3s ease-in-out;
}
.itemEffectAnimation:hover {
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.6);
} */
.itemText {
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}

.spanProduct {
    padding-bottom: 20px;
}

.buttonProduct {
    background: black;
    border-radius: 20px;
    height: 40px;
    width: 100%;
}
.buttonProductText {
    color: white;
    padding-top: 110px;
    padding-bottom: 110px;
    font-weight: bold;
}


.lupa {
    /* border: 2px solid black; */
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

